<!-- First container/Main Header-->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Hi I'm Sylvia</h3>
  <img src="assets/me.png" class="img-responsive img-circle margin" style="display:inline">
  <h3 class="maintitle">Full stack developer. Photographer. Geek.</h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin-about">Who Am I?</h3>
  <img src="assets/sylvia1.jpg"/>
  <br>
  <br>
  <p>I'm a geek who loves to code new applications (both front and back)</p>
  <br>
  <p> Whenever I'm not busy coding up applications, I'm either learning how to use Adobe software, </p>
	<p> learning new coding languages, and photographing my way through unexplored lands.</p>
	<br>
	<p> My goal is to work for a major company like Atlassian or Google, but also to open up my own escape room (you're probably wondering what that is)</p>
	<br>
	<p> My biggest achievement is getting into Coderfactory Academy (hopefully graduating from it). It wasn't easy giving up work and my social life. </p>
  </a>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin-skills">Skills</h3><br>
    	<h4>Projects</h4>
      <p>Below are some of the projects that I have worked on.</p>
      <div class="container-fluid bg-3 text-center"> 
      	<div class="row">
      		<div class="col-sm-4">
      			<img src="assets/project1" class="img-responsive margin"/>
      		<p>Ruby Terminal App Game</p>
      		</div>
      		<div class="col-sm-4">
      			<img src="assets/project2.jpg"/>
      			<p> Calculator App </p>
      		</div>
      	</div>
      <br>
      <br>

      
    	<h4>Coding skills</h4>
    	<br>

<div class="skill-bar">
     <p>HTML</p>
		<div class="container">
  			<div class="skills html">90%</div>
		</div>

	<p>CSS</p>
	<div class="container">
  		<div class="skills css">80%</div>	
	</div>

	<p>Ruby</p>
	<div class="container">
  		<div class="skills ruby">50%</div>
	</div>

	<p>Ruby On Rails</p>
	<div class="container">
		<div class="skills rails">45%</div>
	</div>
	<br>
	<br>


</div>

   

<div class="container-fluid bg-4 text-center">
	<h3 class="margin-contact">Contact</h3>
	<br>
	  	<div class = "container_form">
		<form action="mailto:sylvia.shen24@hotmail.com" method="post" enctype="text/plain">
		Name:<br>
			<input type="text" name="name"><br>
			E-mail:<br>
			<input type="text" name="mail"><br>
			Comment:<br>
			<input type="text" name="comment" size="50" rows="4"><br><br>
			<input type="submit" value="Send">
			<input type="reset" value="Reset">
			<br>
			<br>
		</div>
		</form>
</div>


<!-- Footer -->
<footer class="container-fluid bg-5 text-center">
  <p>Learning to code 'bit' by 'bit'</p> 
  <ul class="links">
  	<li><a href="https://www.linkedin.com/in/sylvia-shen-323101b6/">LinkedIn</li>
  	<li><a href="https://github.com/azncreed">GitHub</li>
</footer>
